html {
    background-color: #F0EFF4;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px;
}

h3 {
    background-color: #939F5C;
    border-radius: 10px;
    padding: 10px;
}

small {
    background-color: #F0EFF4;
    padding: 10px;
}

main{
    display: flex;
    gap: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.post:nth-of-type(1){
    flex: 500px;
}

.post:nth-of-type(2){
    flex: 500px;
}

.post:nth-of-type(3){
    flex: 500px;
}

